.cm-btn{padding: 5px 10px;  text-align: center; border-radius: 4px}
.cm-btn:hover {cursor: pointer;color: white;}
.cm-one-line{display: -webkit-box;display: -ms-flexbox;display: flex;}


.btn1{color: #409eff; background: #ecf5ff;border-color:#b3d8ff;}
.btn1:hover{ background: #409eff;}
.btn2{color: #67c23a; background: #f0f9eb;border-color:#c2e7b0;}
.btn2:hover{ background: #67c23a;}
.btn3{color: #878d99; background: #f3f4f5;border-color:#cfd1d6;}
.btn3:hover{ background: #878d99;}
.outer-box {justify-content: center}
.outer-box span{margin: 0 20px; }
